.container {
  max-width: 800px;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 30px;
}
#chart-button {
  margin-left: 10px;
}
#input {
  max-width: 100px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}
.title {
  margin-left: 30px;
}
@media (max-width: 450px) {
  .input-row {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  }
}
