<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="container mt-5">
  <div *ngIf="companyName" class="title">
    <h1>
      <strong>{{ companyName }}</strong>
    </h1>
  </div>
  <canvas #chartCanvas></canvas>
  <div class="input-row">
    <div class="col-sm-6" id="input">
      <input
        [(ngModel)]="symbol"
        (ngModelChange)="symbol = $event.toUpperCase()"
        placeholder="Enter stock symbol"
        class="form-control"
        (keyup.enter)="fetchStockData()"
      />
    </div>
    <div class="col-sm-6">
      <button
        (click)="fetchStockData()"
        class="btn btn-outline-primary"
        id="chart-button"
      >
        Get Chart
      </button>
    </div>
  </div>
</div>
