nav {
  background-color: #34495e;
}
.navbar-toggler {
  color: white;
}
.title {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  padding-top: 0.25rem;
}
h1 {
    font-size: 2.1rem;
}
